# binaries
build*
target/

# vim
*.swp

# JDK crashes
hs_err_pid*

# local configuration
recorder_env.properties

# output files
log-*.hpl
dump.hpl
traces.txt

# IDE
.idea
*.ipr
*.iws
*.iml

logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store

src/test/resources/private_logs/

# CMake
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
Makefile
Testing

/.classpath
/.project
.settings

.attach_pid*
TAGS
cscope.*

.#*
core

# ui
npm-debug.log
ui/public/*

#Ignore logs directory
backend/logs/

recorder/.vscode/c_cpp_properties.json

recorder/.vscode/settings.json
