.filterBox {
  font-size: 14px;
  width: 300px;
}

.filterBox input {
  color: rgb(255,64,129);
  border-bottom: 1px solid rgb(63,81,181);
}

.alert {
  padding: 20px;
  background: #fff;
  color: #ef5350;
  font-weight: bold;
  font-size: 16px;
}

input:focus {
  border-radius: 0px;
  outline-width: 1px;
  outline-color: rgb(63,81,181);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;  
}


.GridRow {
  position: relative;
  display: flex;
  flex-direction: row;
}

.RightGridContainer {
  flex: 0 0 150px;
  z-index: 10;
  flex-direction: column;
}

.RightGrid {
  outline: 0;
  overflow: hidden !important;
}

.LeftGridContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.GridHeader {
  flex: 0 0 auto;
  height: 87px;
  display: flex;
  align-items: center;
  label {
    font-weight: bold;
    color: #3f51b5;
  }
}

.GridBody {
  flex: 1 1 auto;
}

.GridHeaderContent {
  flex: 1 1 auto;
}

.LeftGrid {
  width: 100%;
  outline: 0;
}
