.label {
  color: #666;
  padding: 6px;
}

.date-time {
  display: inline-block;
  width: 50%;
  input {
    width: 100%;
    border-radius: 5px;
    height: 34px;
    border: 1px solid #ccc;
    padding: 0px 10px;
    box-sizing: border-box;
  }
}