.container { 
  width: auto; 
  overflow-x: scroll;  
  margin-right: 170px;
  overflow-y: visible;
  margin-left: 10px;
}

.container table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;  
}

.container tbody>tr:hover .fixedRightCol1>div, .container tbody>tr:hover .stackline {
    background-color: #f0f0f0;  
}

.container th {
  padding: 5px;
  vertical-align: middle;
  text-align: left;
  color: rgb(63,81,181);
}

.container td {
  margin: 0;
  white-space: nowrap;
  padding: 2px;
  vertical-align: top;
}

.nodeIcon {
  font-size: 14px;
  vertical-align: text-top;
  cursor: pointer;
  cursor: hand;
}

.collapsedIcon {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.stackline {
  border-bottom: 1px solid rgba(158, 158, 158, 0.28);  
}

.stacklineText {
  cursor: pointer;
  cursor: hand;
  &:HOVER {
    color: rgb(255,64,129);
  }
}

.fixedRightCol1 {
  position: absolute; 
  width: 150px; 
  right: 16px;
  top: auto;
}

td.fixedRightCol1>div {
  border-bottom: 1px solid rgba(158, 158, 158, 0.28);
}

th.fixedRightCol1 {
  padding-top: 30px;
  font-weight: bold;
}

.pill {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.percentage {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 70%;
  .shade {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255,64,129);
    opacity: 0.2;
    height: inherit;
  }
}

.number {
  text-align: left;
  display: inline-block;
  width: 30%;
}

.highlight {
  filter: saturate(8);
}

.subdued {
  color: rgba(0,0,0,0.6);
}
