.main {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border: 1px solid rgb(48,63,159);
  
  .heading {
    background: rgb(63,81,181);
    padding: 8px 16px;
    margin: 0;
    color: white;
  }

  .center {
    text-align: center;
  }

  .highlighted {
    background-color: rgb(63,81,181);
  }

  .highlighted a, .highlighted span {
    color: white !important;
  }

  .itemContainer {
    margin: 4px 0px;
    padding: 4px;
    border-radius: 8px;
  }

  a {
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding: 4px 0;
    color: rgba(0,0,0,0.87);
  }
}